.btn-blue {
  color: #b1ebf0;
  padding: 16px 48px;
  transition: 1s;
  font-weight: bold;
  border: 2px solid #b1ebf0;
}

.btn-blue:hover {
  border: 2px solid #b1ebf0;
  background: #b1ebf0;
  color: black;
}
