.container-obsession {
  /* TODO */
  width: 500px;
  margin: 0px auto;
}
/*
@media (max-width: 900px) {
  .container {
  width: 700px;
  }
}


@media (max-width: 700px) {
  .container {
  width: 700px;
  }
}

@media (max-width: 500px) {
  .container {
  width: 300px;
  }
}
*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  ..container-obsession {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  ..container-obsession {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  ..container-obsession {
    width: 300px;
  }
}
