.footer {
  height: auto;
  border-top: 3px solid #EDD382;
  background-color: black;
  color: #EDD382;
  font-size: 20px;
  text-transform: capitalize;
}

.footer li {
 list-style: none;
 display: inline-block;
}

.footer ul {
 text-align: center;
 padding: 0;
}

.center li {
  margin: 0 auto;
}

.footer h3 {
  text-align: center;
  font-family: bold;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}

.footer p {
 text-align: center;
}
