/*.navbar{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 5px 0 10px rgba(0,0,0,0.15);
}*/
.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
