

.navbar-logo {
  color: #b1ebf0;
 font-family: 'Arvo', serif;
/*  font-size: 1.5rem;
  border: 1px solid #b1ebf0;*/
  letter-spacing: 0.1rem;
}

/*.image {
  background-size: cover;
}*/

.navbar-obsession {
  border-bottom: 3px solid #b1ebf0;
  background-color: black;
}

.navbar-obsession .navbar-collapse {
  flex-grow: 0;
}

.toggler
{
 color: #b1ebf0;
}

