.social-icon {
  font-size: 40px;
  color: #EDD382;
  transition: 1s;
}

.social-icon:hover {
  font-size: 52px;
  color: #EDD382;
}

.transport-icon {
  font-size: 2em;
  float: left;
  margin-right: 10px;
  font-weight: bold;
}



