.about {
  background-color: rgba(215, 216, 217,0.1);
  border-radius: 8px;
}

.about h2 {
  text-align: right;
  font-size: 24px;
  margin-top: 24px;
  text-transform: capitalize;
}

.about p {
  text-align: justify;
  font-weight: lighter;
  font-size: 20px;
}

.rule {
  border-top: 2px solid black;
}

.header {
  background-color: rgba(237, 210, 130,0.3);
  padding: 4px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.service ul {
  padding: 0;
}

.service li {
  list-style: none;
  text-align: center;
  padding: 0;
}


.booking p {
  text-align: justify;
}

.booking a {
  align-items: center;
}

.location p {
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.transport h3 {
 text-align: right;
 text-transform: capitalize;
}

.transport p {
  font-size: 1em;
  font-weight: lighter;
}

